<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Black Jack Sinatra</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/blackjack.js"></script>
  </head>
  <body>
  <div id="container" class="row">
    <%= yield %>
  </div>
  </body>
</html>
